/**********************************************************
| # FONT
**********************************************************/

/* paste here */


/**********************************************************
| # DESIGN
**********************************************************/
body {
    background-color: rgb(202, 20, 120);
}

form .h6 {
    color: rgb(202, 20, 120);
}

form .form-control {
    border: 2px solid rgb(202, 20, 120);
}

.btn {
    font-weight: 700;
    color: rgb(202, 20, 120);
    background-color: rgb(204, 204, 204);
    border-color: rgb(202, 20, 120);
}


/**********************************************************
| # DEBUG
**********************************************************/

.debug {
    background-color: rgb(246, 255, 161);
    padding:10px;
    border: 1px dashed black;
}



